* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body {
	margin:15px 2%;
	height:100vh;
	box-sizing:border-box;
	font-family:sans-serif;
	background:rgb(49, 47, 47);
	background-size:cover;
}

.hamburger {
	    position: fixed;
		display: none;
     	color:white;
		 font-size: 2rem;
}

.menu {
     position:relative;
	 width: 95%;
}

.menu ul {
	display:flex;
	justify-content: center;
	align-items: center;
	list-style:none;
	background:#2727;
	min-height: 4rem;
	position:fixed;	
	width: inherit;
}

.menu ul li {
    position: relative;
	width: 10em;
	margin:5px 13px;
    padding:10px;
    transition:background-color 300ms ease-out;
}

.menu ul li a {
	   width:100%;
	   height:100%;
	   display:block;
	   color:white;
	   text-align: center;
	   text-decoration:none;
} 

.menu ul li:hover, .active {
	     background-color:tomato;
	     border-radius:3px;
}

.menu .fa {
	margin:0 5px;
}

.sub {
	display:none;
	position: absolute;
	margin:0;
}

.menu ul li:hover .sub {
	display:block;
	justify-content: center;
	background-color:#2727;
	left: 0px;

}

.menu ul li:hover .sub ul {
	display:flex;
	flex-direction: column;
	margin:10px;
	min-width:200px;
}

.menu ul li:hover .sub ul li {
	padding:10px;
	border-bottom:1px dotted white;
	text-align:center;

}

.menu .fa-angle-down {
	float:right;
	transform:rotate(180deg);
	transition:300ms;
}

.sub .hover-me:hover .fa-angle-left {
	transform:rotate(270deg);
	transition:transform 300ms;
}

.service:hover .fa-angle-down,.design:hover .fa-angle-down {
	transform:rotate(720deg)
}

.menu ul li:hover .sub ul li:last-child {
	border-bottom:none;
}

.arrow{
	float:left;
}

.branding-sub{
	display:none;
}

.menu .hover-me:hover .branding-sub {
	background-color:#2727;
	display:block;
	position:absolute;
	right:250px;


}

.branding-sub ul {
	display:block;
}


@media (max-width:995px) {
	.menu ul li {
		
		margin:5px 8px;
		padding:8px;
		
	}
}

@media (max-width:900px) {
    .menu {
		left:-220px;
		transition:all 300ms;
	}

	.hamburger {
		display:block;
		cursor: pointer;
		transition:all 300ms;
	}

	.menu ul {
		display:flex;
		flex-direction: column;
		align-items: center;
		width: 200px;
	}

	.sub .hover-me:hover .fa-angle-left {
		transform:rotate(180deg);
		transition:transform 300ms;
	}

	.service:hover .fa-angle-down,.design:hover .fa-angle-down {
		transform:rotate(640deg)
	}

	.menu ul li:hover .sub {
	    left: 150px;
		top:0px;
	}
    
	

	.menu-toggle {
		left:0px;
		
	}
	
	.hamburger-toggle {
	left:230px;
	
	}
	
}